@use "../base/mixins.scss" as *;
@use "../base/media-queries" as *;

.zenfse-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 2rem var(--padding-1) 0 var(--padding-1);
  transition: all 0.5s var(--easing);
  @include mediaQuerySmartphonesOnly {
    padding: 2rem var(--padding-4) 0 var(--padding-4);
  }
  .wp-block-group > figure {
    z-index: 500;
    width: 6rem;
  }
  &.scrolled {
    padding-top: 0.5rem;
    figure {
      width: 4rem;
    }
  }
}

.editor-styles-wrapper {
  .zenfse-header {
    position: relative;
    background-color: gainsboro;
    margin-bottom: 2rem;
  }
}
