@use "../../../src/css/base/mixins" as *;
@use "../../../src/css/base/media-queries" as *;

.gallery-con-titolo {
  margin-top: -1px;
  margin-bottom: -1px;
  .gallery-con-titolo-cont {
    padding-top: 3rem;
    & > .wp-block-heading {
      color: var(--wp--preset--color--base);
      padding-bottom: 0;
    }
  }
}
