@use "../../../src/css/base/mixins" as *;
@use "../../../src/css/base/media-queries" as *;
@import "../../../node_modules/swiper/swiper.min.css";
@import "../../../node_modules/swiper/modules/navigation.min.css";
@import "../../../node_modules/swiper/modules/pagination.min.css";

.gallery.edit {
  .swiper-navigation {
    background: #f0f0f1;
    padding: 0;
  }
  .swiper-pagination {
    bottom: calc(7.5rem + 70px);
  }
  .button-wrapper {
    padding: 2rem var(--padding-4);
    background: #f0f0f1;
    button {
      background: white;
      border: none;
      border-radius: 1rem;
      padding: 1rem 2rem;
      margin-right: 1rem;
      &:nth-of-type(2) {
        color: #cc1818;
        box-shadow: inset 0 0 0 1px #cc1818;
      }
    }
  }
}
