@use "../base/mixins" as *;
@use "../base/media-queries" as *;

@include desktopOnly {
  body:not(.wp-admin):not(.login):not(.editor-styles-wrapper):not(.acf_content) {
    cursor: none !important;

    a,
    button,
    .swiper-prev,
    .swiper-next,
    input,
    textarea,
    .swiper-pagination-bullet {
      cursor: none !important;
    }
  }

  .iubenda-cs-container,
  #iubenda-iframe {
    cursor: auto !important;
  }
}

#cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
  z-index: 50;
  border-radius: 50%;
  border: solid 2px var(--contrast);
  display: none;

  @include desktopOnly {
    display: block;
  }
}

#cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  pointer-events: none;
  z-index: 50;
  background: var(--contrast);
  display: none;

  @include desktopOnly {
    display: block;
  }
}