@use "../../../src/css/base/mixins.scss" as *;
@use "../../../src/css/base/media-queries" as *;

.wp-block-image.is-style-icona-piccola {
  height: 5.5vw;
  display: block;
  img {
    height: 100% !important;
    width: auto !important;
    margin: 0 auto;
  }
  & > .components-resizable-box__container {
    height: 5.5vw !important;
  }
  @include mediaQuerySmartphonesOnly {
    height: 15vw;
  }
}
