@use "../../../src/css/base/mixins.scss" as *;
@use "../../../src/css/base/media-queries" as *;

// Panel

.core-image-dimensions {
  .core-image-mediaquery {
    justify-content: flex-end;
  }
  .core-image-height,
  .core-image-width {
    & > div:first-of-type {
      flex: 1;
      margin-bottom: 0;
    }
    & > div:nth-of-type(2) {
      flex: 0 0 63px;
      padding-left: 8px;
      margin-bottom: 0;
    }
  }
}

.wp-block-image {
  & > div:not(.components-placeholder) {
    width: 100%;
    height: 100%;
    object-fit: contain;
    img,
    svg {
      width: 100% !important;
      height: 100% !important;
      object-fit: contain !important;
    }
  }
}
