@use "../base/mixins" as *;
@use "../base/media-queries" as *;

.legal {
  h1 {
    position: relative;
    transform: translateY(0);
    padding: 14rem var(--padding-4) 6rem var(--padding-4);
    background: var(--wp--preset--color--blu);
    color: var(--wp--preset--color--base);
    @include font-80pt;
  }
  .entry-content {
    padding: 6rem var(--padding-4);
  }
}
