<!-- wp:template-part {"slug":"header","tagName":"header","className":"zenfse zenfse-header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div
  id="smooth-wrapper"
  class="wp-block-group"
>
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div
    id="smooth-content"
    class="wp-block-group"
  >
    <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
    <main class="wp-block-group legal has-base-background-color">
      <!-- wp:post-title {"level":1} /-->
      <!-- wp:post-content /-->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","tagName":"footer","className":"zenfse zenfse-footer"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
