.wp-admin .editor-styles-wrapper {
  --root-font-size: calc((1vh + 4vw) * 0.217);
  --font-1pt: calc(var(--root-font-size) * 0.044) !important;
  @each $i in 14, 18, 20, 22, 30, 36, 40, 48, 50, 60, 80 {
    --font-#{$i}pt: calc(var(--font-1pt) * #{$i}) !important;
  }
  --padding-1: 3.25vw;
  @each $i in 2, 3, 4 {
    --padding-#{$i}: calc(var(--padding-1) * #{$i});
  }
}
