.wp-admin .editor-styles-wrapper {
  // Font variables
  --root-font-size: calc((1svh + 4svw + 16px) * 0.22);

  @each $i in 16, 18, 20, 32, 48, 56, 64 {
    --font-#{$i}pt: calc(var(--root-font-size) * 0.044 * #{$i});
  }

  // Padding variables

  --padding-1: 3.25svw;

  @each $i in 2, 3, 4 {
    --padding-#{$i}: calc(var(--padding-1) * #{$i});
  }

  padding: 0 1.5rem;

  .block-editor-block-list__layout {

    &>div,
    &>p {
      margin: 1rem 0;
    }
  }

  // Reset

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    vertical-align: baseline;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  picture,
  img,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    outline: 0;
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  input {

    &[type="text"],
    &[type="button"],
    &[type="submit"],
    &[type="reset"],
    &[type="search"],
    &[type="password"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
    vertical-align: top;
  }

  h1 {
    padding-bottom: 2rem;
  }

  // ACF
  .acf-block-body .acf-fields .acf-field-message {
    background-color: #d6b73f;
    color: white;
    font-size: 16px;
    padding: 10px 20px;

    label {
      margin: 8px 0 0 0;
    }
  }
}