@use "../../../src/css/base/mixins" as *;
@use "../../../src/css/base/media-queries" as *;

.video-mobile-switch.edit {
  .disclaimer {
    background-color: #ffffff;
    border: 2px solid rgb(30, 30, 30);
    padding: 10px 22px;
    font-size: 13px;
    cursor: pointer;
    color: black;
    max-width: 570px;
  }
}
